// Button Colors

$button--primary: #4183d7;
$button__primary--hover: #1a6edc;
$button--secondary: #999aa2;
$button--danger: #d73a49;
$button--success: #28a745;
$button--warning: #ff9800;


// Fonts

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

$default-font: 'Poppins', sans-serif;

