.latestNews__container {
	display: block;
	margin: 0 auto;
	width: 86%;
    font-family: $default-font;
    line-height: 1.1rem;
    letter-spacing: .4px;

	&--header {
		display: flex;
		justify-content: space-between;
		padding: 50px 0 0 0;

		& h2 {
			font-size: 2.25rem;
			font-weight: 600;
			margin: 0 0 28px;
			color: #333645;
		}

        & h3 {
            margin-bottom: 15px;
            font-size: 1.625rem;
            font-weight: 500;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
	}
}
