.nav-container {
	width: 100%;
	height: 96px;
	background-color: $bottom-navbar--bg;
	font-family: $default-font;

	&__list {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		width: 85%;
		margin: 0 auto;
		text-align: center;

		// First Column
		&--software {
			grid-column: 1 / 2;
			display: inline-block;
			position: relative;

			&--item {
				position: relative;
				display: block;
				color: white;
				padding: 19px 0 20px 0;
				text-transform: uppercase;
				text-decoration: none;
				font-size: 1.125rem;
				line-height: 1;

				&--icon {
					color: $website--colorOne;
					margin-bottom: 5px;
				}

				&:hover {
					background-color: $website--colorOne;
				}

				&--small {
					font-size: small;
				}
			}

			&:hover .nav-container__list--software--item--icon {
				color: white;
			}

			&:hover .nav-container__list--software--menu {
				display: block;
			}

			&--menu {
				position: absolute;
				width: 100%;
				background-color: $website--colorOne-b;
				line-height: 1.31rem;
				padding: 1rem 0 1rem 0;
				z-index: 1000;
				border-radius: 0 0 5px 5px;
				display: none;

				&--item {
					color: white;
					margin: 1.2rem 0 1.2rem 0;
					line-height: 1;
					display: block;

					&--link {
						color: white;
						text-decoration: none;
						line-height: 1;

						&:hover {
							color: white;
							text-decoration: underline;
						}
					}
				}
			}
		}

		// Second Column

		&--it {
			grid-column: 2 / 3;
			display: inline-block;
			@extend .nav-container__list--software;

			&--item {
				@extend .nav-container__list--software--item;

				&--icon {
					@extend .nav-container__list--software--item--icon;
					color: $website--colorTwo;
				}
				&:hover {
					background-color: $website--colorTwo;
				}
				&--small {
					@extend .nav-container__list--software--item--small;
				}
			}

			&:hover .nav-container__list--it--menu {
				display: block;
			}

			&--menu {
				@extend .nav-container__list--software--menu;
				background-color: $website--colorTwo-b;
				&--item {
					@extend .nav-container__list--software--menu--item;
					&--link {
						@extend .nav-container__list--software--menu--item--link;

						&:hover {
							color: white;
							text-decoration: underline;
						}
					}
				}
			}
		}

		// Third Column

		&--digital {
			grid-column: 3 / 4;
			display: inline-block;

			&--item {
				@extend .nav-container__list--software--item;
				&:hover {
					background-color: $website--colorThree;
				}
			}
		}
		// Fourth Column

		&--telecoms {
			grid-column: 4 / 5;
			display: inline-block;

			&--item {
				@extend .nav-container__list--software--item;
				&:hover {
					background-color: $website--colorFour;
				}
			}
		}

		// Fifth Column

		&--web {
			grid-column: 5 / 6;
			display: inline-block;

			&--item {
				@extend .nav-container__list--software--item;
				&:hover {
					background-color: $website--colorFive;
				}
			}
		}

		// Sixth Column

		&--security {
			grid-column: 6 / 7;
			display: inline-block;

			&--item {
				@extend .nav-container__list--software--item;
				&:hover {
					background-color: $website--colorSix;
				}
			}
		}

		// Seventh Column

		&--developer-course {
			grid-column: 7 / 8;
			display: inline-block;

			&--item {
				@extend .nav-container__list--software--item;
				&:hover {
					background-color: $website--colorSeven;
				}
			}
		}
	}
}
