@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");
.navbar__top--menu.open .navbar__top--menu--burger {
  transform: translateX(-30px);
  -webkit-transform: translateX(-30px);
  -moz-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
  -o-transform: translateX(-30px);
  background-color: transparent;
  box-shadow: none;
}

.navbar__top--menu.open .navbar__top--menu--burger:before {
  transform: rotate(45deg) translate(20px, -20px);
  -webkit-transform: rotate(45deg) translate(20px, -20px);
  -moz-transform: rotate(45deg) translate(20px, -20px);
  -ms-transform: rotate(45deg) translate(20px, -20px);
  -o-transform: rotate(45deg) translate(20px, -20px);
}

.navbar__top--menu.open .navbar__top--menu--burger:after {
  transform: rotate(-45deg) translate(20px, 20px);
  -webkit-transform: rotate(-45deg) translate(20px, 20px);
  -moz-transform: rotate(-45deg) translate(20px, 20px);
  -ms-transform: rotate(-45deg) translate(20px, 20px);
  -o-transform: rotate(-45deg) translate(20px, 20px);
}

.btn {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: white;
  height: 60px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: transdorm 0.2s ease-in-out;
  -webkit-transition: transdorm 0.2s ease-in-out;
  -moz-transition: transdorm 0.2s ease-in-out;
  -ms-transition: transdorm 0.2s ease-in-out;
  -o-transition: transdorm 0.2s ease-in-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  letter-spacing: 0.4px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
}
.btn--primary--nav {
  background-color: #4183d7;
  margin-right: 20px;
  width: 148px;
}
.btn--primary--nav:hover {
  background-color: #1a6edc;
}
.btn--secondary--nav {
  background-color: #999aa2;
  margin-right: 20px;
  width: 148px;
}
.btn--secondary--nav:hover {
  background-color: #6e6f73;
}

.btn--search--nav {
  background-color: #999aa2;
  color: white;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  -ms-border-radius: 0px 5px 5px 0px;
  -o-border-radius: 0px 5px 5px 0px;
}
.btn--search--nav:hover {
  background-color: #6e6f73;
}

.navbar {
  width: 100%;
}
.navbar__top {
  background-color: red;
  height: 111px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: px 0 26px 87px;
}
.navbar__top--logo-container {
  margin-right: 86px;
}
.navbar__top--button-one {
  margin: 0 20px 0 81px;
}
.navbar__top--button-two {
  margin: 0 23px 0 0px;
}
.navbar__top--search {
  margin-right: 20px;
}
.navbar__top--menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  border: 3px solid #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.navbar__top--menu--burger {
  width: 35px;
  height: 5px;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.navbar__top--menu--burger:before, .navbar__top--menu--burger:after {
  content: "";
  position: absolute;
  width: 35px;
  height: 5px;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.navbar__top--menu--burger:before {
  transform: translateY(-14px);
  -webkit-transform: translateY(-14px);
  -moz-transform: translateY(-14px);
  -ms-transform: translateY(-14px);
  -o-transform: translateY(-14px);
}
.navbar__top--menu--burger:after {
  transform: translateY(14px);
  -webkit-transform: translateY(14px);
  -moz-transform: translateY(14px);
  -ms-transform: translateY(14px);
  -o-transform: translateY(14px);
}
.navbar__button {
  background-color: blue;
  height: 100px;
}

.logo {
  width: 402 x 70px;
  vertical-align: middle;
}

.navbar__top--search--input {
  height: 56px;
  border: none;
  width: 240px;
  margin-bottom: 3.5px;
}

.btn--search--nav {
  margin-bottom: 3.5;
}

.nav-container {
  width: 100%;
  height: 96px;
  background-color: #333645;
  font-family: "Poppins", sans-serif;
}
.nav-container__list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
.nav-container__list--software {
  grid-column: 1/2;
  display: inline-block;
  position: relative;
}
.nav-container__list--software--item, .nav-container__list--developer-course--item, .nav-container__list--security--item, .nav-container__list--web--item, .nav-container__list--telecoms--item, .nav-container__list--digital--item, .nav-container__list--it--item {
  position: relative;
  display: block;
  color: white;
  padding: 19px 0 20px 0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 1;
}
.nav-container__list--software--item--icon {
  color: #67809f;
  margin-bottom: 5px;
}
.nav-container__list--software--item:hover, .nav-container__list--developer-course--item:hover, .nav-container__list--security--item:hover, .nav-container__list--web--item:hover, .nav-container__list--telecoms--item:hover, .nav-container__list--digital--item:hover, .nav-container__list--it--item:hover {
  background-color: #67809f;
}
.nav-container__list--software--item--small {
  font-size: small;
}
.nav-container__list--software:hover .nav-container__list--software--item--icon {
  color: white;
}
.nav-container__list--software:hover .nav-container__list--software--menu {
  display: block;
}
.nav-container__list--software--menu {
  position: absolute;
  width: 100%;
  background-color: #50637a;
  line-height: 1.31rem;
  padding: 1rem 0 1rem 0;
  z-index: 1;
  border-radius: 0 0 5px 5px;
  display: none;
}
.nav-container__list--software--menu--item {
  color: white;
  margin: 1.2rem 0 1.2rem 0;
  line-height: 1;
  display: block;
}
.nav-container__list--software--menu--item--link {
  color: white;
  text-decoration: none;
  line-height: 1;
}
.nav-container__list--software--menu--item--link:hover {
  color: white;
  text-decoration: underline;
}
.nav-container__list--it {
  grid-column: 2/3;
  display: inline-block;
}
.nav-container__list--it--item:hover {
  background-color: #b79e67;
}
.nav-container__list--digital {
  grid-column: 3/4;
  display: inline-block;
}
.nav-container__list--digital--item:hover {
  background-color: #b76767;
}
.nav-container__list--telecoms {
  grid-column: 4/5;
  display: inline-block;
}
.nav-container__list--telecoms--item:hover {
  background-color: #b767b7;
}
.nav-container__list--web {
  grid-column: 5/6;
  display: inline-block;
}
.nav-container__list--web--item:hover {
  background-color: #67b7b7;
}
.nav-container__list--security {
  grid-column: 6/7;
  display: inline-block;
}
.nav-container__list--security--item:hover {
  background-color: #67b767;
}
.nav-container__list--developer-course {
  grid-column: 7/8;
  display: inline-block;
}
.nav-container__list--developer-course--item:hover {
  background-color: #b7b767;
}

.sideMenu {
  height: 100%;
  width: 320px;
  position: absolute;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.sideMenu__heading {
  background-color: #333645;
  padding: 20px;
}
.sideMenu__heading--anchor {
  text-decoration: none;
  color: #deffff;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.sideMenu__heading--list-item {
  list-style: none;
  width: 320px;
}
.sideMenu__heading--list-item--anchor {
  background-color: #262834;
  color: #deffff;
  text-decoration: none;
  padding: 20px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #333645;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 15px;
  font-family: "Poppins", sans-serif;
  line-height: 1.375rem;
}
.container__top-row {
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.container__top-row--services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: -30px;
}
.container__top-row--services--service--item {
  text-decoration: none;
  color: #fff;
}
.container__top-row--offices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.container__top-row--offices--location {
  margin-bottom: 30px;
  color: #fff;
}
.container__top-row--offices--location--tel {
  text-decoration: none;
  color: #fff;
}
.container__top-row h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 30px;
  margin-bottom: 26px;
}
.container__bottom-row {
  margin: 0px 0px 30px 0;
  height: 30px;
}
.container__bottom-row--content {
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.container__bottom-row--content--copyright--linkItem {
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
}
.container__bottom-row--content--copyright--linkItem:hover {
  text-decoration: underline;
}
.container__bottom-row--content--socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__bottom-row--content--socials--icon {
  font-size: 0.9rem;
  text-decoration: none;
  color: #fff;
  max-height: 38px;
}
.container__bottom-row--content--socials--icon--one {
  content: inherit;
  padding: 10px;
}
.container__bottom-row--content--socials--icon--one:hover {
  background-color: #1877f2;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.container__bottom-row--content--socials--icon--two {
  padding: 10px;
}
.container__bottom-row--content--socials--icon--two:hover {
  background-color: #1da1f2;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.container__bottom-row--content--socials--icon--three {
  padding: 10px;
}
.container__bottom-row--content--socials--icon--three:hover {
  background-color: #cd201f;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.container__bottom-row--content--socials--icon--four {
  padding: 10px;
}
.container__bottom-row--content--socials--icon--four:hover {
  background-color: #0077b5;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.banner-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  color: white;
}
.banner-container__row {
  width: 100%;
  height: 100%;
}
.banner-container__row--banner--image {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 69%);
  z-index: 100;
}
.banner-container__row--banner--image img {
  width: 100%;
  height: auto;
}
.banner-container__row--banner--text {
  position: absolute;
  width: 80%;
  margin-left: 7%;
  top: 27%;
  z-index: 1;
}
.banner-container__row--banner--text--h2 {
  line-height: 80px;
  text-align: start;
  margin-bottom: 1.125rem;
}
.banner-container__row--banner--text--h2 h2 {
  font-size: 64px;
}
.banner-container__row--banner--text p {
  font-size: 26px;
  line-height: 40px;
  text-align: start;
  letter-spacing: 0.4px;
}

.c_one {
  margin: 0 15px 0 0;
}

.c_two {
  margin: 0 15px 0 15px;
}

.c_three {
  margin: 0 0 0 15px;
}

a:link {
  text-decoration: none !important;
  cursor: pointer;
}

.our-services__container {
  display: block;
  width: 86%;
  margin: 0 auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.our-services__container--header {
  font-size: 43.2px;
  line-height: 47.52px;
  text-align: start;
  letter-spacing: 0.4px;
  color: #333645;
  margin: 54px 0 40px 0;
}
.our-services__container--row--top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.our-services__container--row--top--card--one, .our-services__container--row--top--card--three, .our-services__container--row--top--card--two {
  width: 33.33333%;
  display: block;
  padding: 30px;
  border: 1px solid #a8a6a6;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
  -ms-box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
  transition: all 0.5s ease 0s;
}
.our-services__container--row--top--card--one--icon-container, .our-services__container--row--top--card--three--icon-container, .our-services__container--row--top--card--two--icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 65px;
  height: 65px;
  margin: 0 auto 17px;
  background-color: #67809f;
}
.our-services__container--row--top--card--one--icon-container--icon, .our-services__container--row--top--card--three--icon-container--icon, .our-services__container--row--top--card--two--icon-container--icon {
  color: white;
  font-size: 2rem;
}
.our-services__container--row--top--card--one--text-container--title, .our-services__container--row--top--card--three--text-container h2, .our-services__container--row--top--card--two--text-container h2 {
  font-size: 1.3rem;
  padding-bottom: 10px;
  margin: 0 0 11px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #333645;
}
.our-services__container--row--top--card--one--text-container--paragraph, .our-services__container--row--top--card--three--text-container p, .our-services__container--row--top--card--two--text-container p {
  font-size: 0.8125rem;
  line-height: 1.375rem;
  margin-bottom: 13px;
  font-weight: 400;
  color: #333645;
  letter-spacing: 0.4px;
}
.our-services__container--row--top--card--one--button-container, .our-services__container--row--top--card--three--button-container, .our-services__container--row--top--card--two--button-container {
  display: flex;
  justify-content: center;
  position: inherit;
  margin-top: 10px;
}
.our-services__container--row--top--card--one:hover, .our-services__container--row--top--card--three:hover, .our-services__container--row--top--card--two:hover {
  background-color: #67809f;
  color: white;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.our-services__container--row--top--card--one:hover .our-services__container--row--top--card--one--icon-container, .our-services__container--row--top--card--one:hover .our-services__container--row--top--card--three--icon-container, .our-services__container--row--top--card--three:hover .our-services__container--row--top--card--one--icon-container, .our-services__container--row--top--card--three:hover .our-services__container--row--top--card--three--icon-container, .our-services__container--row--top--card--one:hover .our-services__container--row--top--card--two--icon-container, .our-services__container--row--top--card--three:hover .our-services__container--row--top--card--two--icon-container, .our-services__container--row--top--card--two:hover .our-services__container--row--top--card--one--icon-container, .our-services__container--row--top--card--two:hover .our-services__container--row--top--card--three--icon-container, .our-services__container--row--top--card--two:hover .our-services__container--row--top--card--two--icon-container {
  background-color: white;
}
.our-services__container--row--top--card--one:hover .our-services__container--row--top--card--one--icon-container--icon, .our-services__container--row--top--card--one:hover .our-services__container--row--top--card--three--icon-container--icon, .our-services__container--row--top--card--three:hover .our-services__container--row--top--card--one--icon-container--icon, .our-services__container--row--top--card--three:hover .our-services__container--row--top--card--three--icon-container--icon, .our-services__container--row--top--card--one:hover .our-services__container--row--top--card--two--icon-container--icon, .our-services__container--row--top--card--three:hover .our-services__container--row--top--card--two--icon-container--icon, .our-services__container--row--top--card--two:hover .our-services__container--row--top--card--one--icon-container--icon, .our-services__container--row--top--card--two:hover .our-services__container--row--top--card--three--icon-container--icon, .our-services__container--row--top--card--two:hover .our-services__container--row--top--card--two--icon-container--icon {
  color: #67809f;
}
.our-services__container--row--top--card--one:hover .our-services__container--row--top--card--one--text-container--title, .our-services__container--row--top--card--one:hover .our-services__container--row--top--card--three--text-container h2, .our-services__container--row--top--card--three--text-container .our-services__container--row--top--card--one:hover h2, .our-services__container--row--top--card--three:hover .our-services__container--row--top--card--one--text-container--title, .our-services__container--row--top--card--three:hover .our-services__container--row--top--card--three--text-container h2, .our-services__container--row--top--card--three--text-container .our-services__container--row--top--card--three:hover h2, .our-services__container--row--top--card--one:hover .our-services__container--row--top--card--two--text-container h2, .our-services__container--row--top--card--three:hover .our-services__container--row--top--card--two--text-container h2, .our-services__container--row--top--card--two--text-container .our-services__container--row--top--card--one:hover h2, .our-services__container--row--top--card--two--text-container .our-services__container--row--top--card--three:hover h2, .our-services__container--row--top--card--two:hover .our-services__container--row--top--card--one--text-container--title, .our-services__container--row--top--card--two:hover .our-services__container--row--top--card--three--text-container h2, .our-services__container--row--top--card--three--text-container .our-services__container--row--top--card--two:hover h2, .our-services__container--row--top--card--two:hover .our-services__container--row--top--card--two--text-container h2, .our-services__container--row--top--card--two--text-container .our-services__container--row--top--card--two:hover h2 {
  color: white;
}
.our-services__container--row--top--card--one:hover .our-services__container--row--top--card--one--text-container--paragraph, .our-services__container--row--top--card--one:hover .our-services__container--row--top--card--three--text-container p, .our-services__container--row--top--card--three--text-container .our-services__container--row--top--card--one:hover p, .our-services__container--row--top--card--three:hover .our-services__container--row--top--card--one--text-container--paragraph, .our-services__container--row--top--card--three:hover .our-services__container--row--top--card--three--text-container p, .our-services__container--row--top--card--three--text-container .our-services__container--row--top--card--three:hover p, .our-services__container--row--top--card--one:hover .our-services__container--row--top--card--two--text-container p, .our-services__container--row--top--card--three:hover .our-services__container--row--top--card--two--text-container p, .our-services__container--row--top--card--two--text-container .our-services__container--row--top--card--one:hover p, .our-services__container--row--top--card--two--text-container .our-services__container--row--top--card--three:hover p, .our-services__container--row--top--card--two:hover .our-services__container--row--top--card--one--text-container--paragraph, .our-services__container--row--top--card--two:hover .our-services__container--row--top--card--three--text-container p, .our-services__container--row--top--card--three--text-container .our-services__container--row--top--card--two:hover p, .our-services__container--row--top--card--two:hover .our-services__container--row--top--card--two--text-container p, .our-services__container--row--top--card--two--text-container .our-services__container--row--top--card--two:hover p {
  color: white;
}
.our-services__container--row--top--card--one:hover .our-services__container--row--top--card--one--button-container Button, .our-services__container--row--top--card--one:hover .our-services__container--row--top--card--three--button-container Button, .our-services__container--row--top--card--three:hover .our-services__container--row--top--card--one--button-container Button, .our-services__container--row--top--card--three:hover .our-services__container--row--top--card--three--button-container Button, .our-services__container--row--top--card--one:hover .our-services__container--row--top--card--two--button-container Button, .our-services__container--row--top--card--three:hover .our-services__container--row--top--card--two--button-container Button, .our-services__container--row--top--card--two:hover .our-services__container--row--top--card--one--button-container Button, .our-services__container--row--top--card--two:hover .our-services__container--row--top--card--three--button-container Button, .our-services__container--row--top--card--two:hover .our-services__container--row--top--card--two--button-container Button {
  color: #67809f;
  background-color: white;
}
.our-services__container--row--top--card--two--icon-container {
  background-color: #4183d7;
}
.our-services__container--row--top--card--two:hover {
  background-color: #4183d7;
  color: white;
}
.our-services__container--row--top--card--two:hover .our-services__container--row--top--card--one--icon-container--icon, .our-services__container--row--top--card--two:hover .our-services__container--row--top--card--three--icon-container--icon, .our-services__container--row--top--card--two:hover .our-services__container--row--top--card--two--icon-container--icon {
  color: #4183d7;
}
.our-services__container--row--top--card--three--icon-container {
  background-color: #2dc86f;
}
.our-services__container--row--top--card--three:hover {
  background-color: #2ecc71;
  color: white;
}
.our-services__container--row--top--card--three:hover .our-services__container--row--top--card--one--icon-container--icon, .our-services__container--row--top--card--three:hover .our-services__container--row--top--card--two--icon-container--icon, .our-services__container--row--top--card--three:hover .our-services__container--row--top--card--three--icon-container--icon {
  color: #2ecc71;
}/*# sourceMappingURL=main.css.map */