.banner-container {
    position: relative;
    width: 100%;
    margin: 0 auto;

    &__row {

        &--banner {

            &--image {

                & img {
                    width: 100%;
                    height: auto;
                }
            }
        
            &--text {
                position: absolute;
            }
        }
    }

}